{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure   {:mvn/version "1.10.1"}
  hodur/engine          {:mvn/version "0.1.6"}
  camel-snake-kebab     {:mvn/version "0.4.0"}}

 :aliases
 {:dev
  {:extra-deps
   {}}

  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-529"}}
   :main-opts ["-m" "kaocha.runner"]}}}
